*.py[ciod]
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist

/photon*/version.py
/photon*/_init_photon*.py
/photon*/include
/photon*/lib
/photon*/rpy-include
/photon*/pkgcfg.py

*.dylib
*.dll
venv