*.py[ciod]
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist

/photonvision/version.py
/photonvision/_init_photonvision.py
/photonvision/include
/photonvision/lib
/photonvision/rpy-include
/photonvision/pkgcfg.py

*.dylib
*.dll
